<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cadastro Contêiner</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="style-sucesso.css">
</head>
<body>
	<div class="cab">
		<h1>CRUD JAVA</h1>
	</div>
	<div class="container">
		<div class="tb">
			<h2>Destino Cadastrado</h2>
			<div class="conteudo">
				<div th:text="'Carga : ' + ${dest.carga} "></div>
				<div th:text="'Bandeira : ' + ${dest.bandeira} "></div>
				<div th:text="'Origem : ' + ${dest.origem} "></div>
				<div th:text="'Destino : ' + ${dest.destino} "></div>
			</div>
			
			<a href="/destino">Voltar a Lista</a>
		</div>
	</div>
</body>
</html>