<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cadastro Contêiner</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style-lista.css">
</head>
<body>
	<div class="container">
		<div class="cab">
			<h1><a href="/" style="color:#F7DC0F">CRUD JAVA</a></h1>
		</div>

		<div class="tb">
			<ul>
				<li><a href="/conteiners">Contêiner</a></li>
				<li><a href="/Movimentacoes">Movimentações</a></li>
				<li><a href="/destinos" id="bd-esc">Destino</a></li>
			</ul>

			<div class="box">
				<div class="menu">
					<h2>Opções</h2>
					
					<ul>
						<li><a href="/destino">Cadastrar</a></li>
						<li><a href="/destinos" id="cd">Listar</a></li>
						<li><a href="/">Voltar para o inicio</a></li>
					</ul>
				</div>
				
				<table class="table table-striped table-primary">
					<thead class="ttop">
						<tr class="table-info">
							<td></td>
							<td><b>ID</b></td>
							<td><b>CARGA</b></td>
							<td><b>BANDEIRA</b></td>
							<td><b>ORIGEM</b></td>
							<td><b>DESTINO</b></td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dest : ${destinos}">
							<td>
								<a th:href="@{'destino/descr/' + ${dest.id}}">&#10148;</a>
							</td>
							<td th:text="${dest.id}"></td>
							<td th:text="${dest.nm_Carga}"></td>
							<td th:text="${dest.nm_Bandeira}"></td>
							<td th:text="${dest.ds_Origem}"></td>
							<td th:text="${dest.ds_Destino}"></td>
							<td>
								<a th:href="@{'Des/upd/' + ${dest.id}}">
									<i class="fa fa-pencil" style="font-size:24px; color: #F7DC0F;"></i>
								</a>
							</td>
							<td>
								<form th:action="@{'destino/apagar/' + ${dest.id}}" method="POST">
									<input type="submit" value="X">
								</form>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</body>
</html>