<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cadastro Contêiner</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../style-upd.css">
</head>
<body>
	<div class="container">
		<div class="cab">
			<h1><a href="/" style="color:#F7DC0F">CRUD JAVA</a></h1>
		</div>

		<div class="tb">
			<ul>
				<li><a href="/conteiners" id="bd-esc">Contêiner</a></li>
				<li><a href="/Movimentacoes">Movimentações</a></li>
				<li><a href="/destinos">Destino</a></li>
			</ul>

			<div class="box">
				<div class="menu">
					<h2>Opções</h2>
					
					<ul>
						<li><a href="#" id="cd">Editar</a></li>
						<li><a href="/conteiners">Voltar para Lista</a></li>
					</ul>
				</div>
				
				<form action="#" th:action="@{'/Dest/upd/' + ${id}}" method="POST">
					
					<label for="nome" class="first-lb">Cliente</label>
					<input type="text" id="nome" th:field="${antigo.nome}" required>
					
					<label for="conteiner">Número do Contêiner</label>
					<input type="text" id="conteiner" th:field="${antigo.nmconteiner}" required>
					
					<label>Tipo</label>
					<input type="radio" name="tip" id="20" value="20" th:field="${antigo.tipo}">
					<label for="20" class="ty">20</label>
					<input type="radio" name="tip" id="40" value="40" th:field="${antigo.tipo}">
					<label for="40" class="ty">40</label>
					
					<label>Status</label> 
					<input type="radio" id="cheio" name="stat" value="Cheio" th:field="${antigo.status}">
					<label for="cheio" class="ty">Cheio</label>
					<input type="radio" id="vazio" name="stat" value="Vazio" th:field="${antigo.status}">
					<label for="vazio" class="ty">Vazio</label>
					
					<label>Categoria</label> 
					<input type="radio" id="im" name="cat" value="Importação" th:field="${antigo.categoria}">
					<label for="im" class="ty">Importação</label>
					<input type="radio" id="ex" name="cat" value="Exportação" th:field="${antigo.categoria}">
					<label for="ex" class="ty">Exportação</label>
					
					<input type="submit" value="Atualizar" id="botao">
				</form>
			</div>
		</div>
	</div>
</body>
</html>