<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cadastro Contêiner</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../style-upd.css">
</head>
<body>
	<div class="container">
		<div class="cab">
			<h1><a href="/" style="color:#F7DC0F">CRUD JAVA</a></h1>
		</div>

		<div class="tb">
			<ul>
				<li><a href="/conteiners">Contêiner</a></li>
				<li><a href="/Movimentacoes">Movimentações</a></li>
				<li><a href="/destinos" id="bd-esc">Destino</a></li>
			</ul>

			<div class="box">
				<div class="menu">
					<h2>Opções</h2>
					
					<ul>
						<li><a href="#" id="cd">Editar</a></li>
						<li><a href="/destinos">Voltar para Lista</a></li>
					</ul>
				</div>
				
				<form action="#" th:action="@{'/Des/upd/' + ${id}}" method="POST">

					<label for="nome" class="first-lb">Carga</label>
					<input type="text" id="nome" th:field="${antigo.carga}" required>
					
					<label for="bandeira">Bandeira</label>
					<input type="text" id="bandeira" th:field="${antigo.bandeira}" required>
					
					<label for="origem">Origem</label>
					<input type="text" id="origem" th:field="${antigo.origem}" required>
					
					<label for="destino">Destino</label>
					<input type="text" id="destino" th:field="${antigo.destino}" required>
					
					<input type="submit" id="botao" value="Cadastrar">
				</form>
			</div>
		</div>
	</div>
</body>
</html>