<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cadastro Contêiner</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../style-sucesso.css">
	
</head>
<body>
	<div class="cab">
		<h1><a href="/" style="color:#F7DC0F">CRUD JAVA</a></h1>
	</div>
	<div class="container">
		<div class="tb">
			<h2>Movimentação Cadastrada</h2>
			<div class="conteudo">
				<div th:text="'Navio : ' + ${mov.Navio} "></div>
				<div th:text="'Descrocao do Navio : ' + ${mov.Movimentacao} "></div>
				<div th:text="'Data Inicio : ' + ${mov.DataInicio} "></div>
				<div th:text="'Data Fim : ' + ${mov.DataFim} "></div>
			</div>
			
			<a href="/Movimentacoes">Voltar a Lista</a>
		</div>
	</div>
</body>
</html>